.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.posted-by {
  font-family: "Lucida Console", Courier, monospace;
  color: rgb(77, 77, 190);
  text-shadow: 0px 0px 2px rgb(123, 134, 233);
}

.dropdown:hover .dropdown-menu,
.btn-group:hover .dropdown-menu {
  display: block;
}

.page-background {
  background-color: #d3d3d3;
  height: 100vh;
  overflow: auto;
}

.container {
  margin-top: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 30px 15px;
  box-shadow: 0px 0px 10px rgb(33, 53, 36);
}

.navbar-background {
  background: linear-gradient(
    90deg,
    rgba(57, 125, 27, 1) 0%,
    rgba(156, 133, 56, 1) 87%
  );

  font-family: "Roboto, sans-serif !important";
}

.navbar-toggler {
  position: absolute;
  top: 15px;
  right: 15px;
}
